$color-1: #94849b; // Purple
$color-2: #272d28; // Darkest green
$color-3: #B2ccb1; // light green
$color-4: #6d9172; // Middle green
$color-5: #fbfafb; // lightest


body {
    background-color: $color-5;
}

/**************** HEADER ****************/

@import 'partials/header';

/**************** SIDEBAR ****************/

@import 'partials/sidebar';


/*************** MAIN CONTENT ********************/

@import 'partials/main';


/*************** medium screen *******************/

@media (max-width: 1000px) {
    .summary {
        grid-row: 2;
        grid-column: 1;
        width: 80%;
        margin: auto;
    }
    
    .sidebar {
        top: 650px;
    }
    
}


/* small screen */

@media (max-width: 780px) {
    
    .intro {
        display: flex;
        flex-wrap: wrap;
    }
    
    h1 {
        width: 90%;
        margin: auto;
        font-size: 30px;
    }
    
    .summary {
        width: 80%;
        margin: auto;
    }
    
    
    .sidebar {
        position: relative;
        width: 95%;
        margin: auto;
        top: 0;
    }
    .explanation, .participation, .benefits, .requirements {
        width: 95%;
        margin: auto;
        background-color: $color-1;
    }
    
    
}







