$color-1: #94849b; // Purple
$color-2: #272d28; // Darkest green
$color-3: #B2ccb1; // light green
$color-4: #6d9172; // Middle green
$color-5: #fbfafb; // lightest

@import url('https://fonts.googleapis.com/css?family=Open+Sans+Condensed:300|Oswald&display=swap');

$primary-font: 'Oswald', sans-serif;
$secondary-font: 'Open Sans Condensed', sans-serif;

body {
    background-color: $color-5;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='none' stroke='%23DCE7DB' stroke-width='3px'%3E%3Cpattern id='pattern1' patternUnits='userSpaceOnUse' x='0' y='0' width='120' height='110'%3E%3Cpolygon points='0,20 0,0 50,0' stroke='none'/%3E%3Cpolygon points='70,0 120,0 120,20' stroke='none'/%3E%3Cpolygon points='10,30 60,10 110,30 60,110'/%3E%3Cpolygon points='0,30 0,110 50,110' stroke='none'/%3E%3Cpolygon points='120,30 120,110 70,110' stroke='none'/%3E%3Cpolyline points='70,0 120,20'/%3E%3Cpolyline points='120,30 70,110'/%3E%3Cpolyline points='0,20 50,0'/%3E%3Cpolyline points='0,30 50,110'/%3E%3C/pattern%3E%3Crect fill='url(%23pattern1)' stroke='none' width='100vw' height='100vw'/%3E%3C/svg%3E");
    background-repeat: repeat;
    background-attachment: fixed;
}

/**************** HEADER ****************/

@import 'partials/header';


/**************** SIDEBAR ****************/

@import 'partials/sidebar';


/*************** MAIN CONTENT ********************/

@import 'partials/main';


/*****************FOOTER***********************/

@import 'partials/footer';


/***************breakpoint for header fix***********/
@media (max-width: 1348px) {
           
    .intro { 
        display: grid; 
        grid-template-columns: auto auto auto;
        grid-gap: 10px;
        padding: 10px;
        width: 65%;
        max-width: 1080px;
        margin-left: 400px;
    } 
    
    header {
        width: 95%;
        margin: auto;
    }
    
    .summary {
        grid-row: 2;
        grid-column: 1;
        width: 90%;
        margin: auto;
        border: none;
        margin-left: 30px;
    }
    
    .preamble {
        width: 90%;
        margin: auto;
        margin-left: 40px;
    }
    
    .sidebar {
        height: 2225px;
    }
    
    .explanation, .participation, .benefits, .requirements {
        margin-left: 360px;
    }
    
}


/*************** medium screen *******************/


/*Initial Transition point for Sidebar*/
@media (max-width: 1100px) {
    .wrapper {
        position: relative;
        width: 100%; 
    }


    .sidebar {
        position: relative;
        width: 95%;
        margin: 0 auto;
        align-items: center;
        justify-content: center;
        height: auto;
            h3 {
                transform: rotate(0deg);
                position: relative;
                top: 0px;
                left: 40%;
                display: flex;
                justify-content: center;
            }
            ul {
                display: grid;
                grid-template-columns: repeat(6, 1fr);
                grid-template-rows: auto;
                position: relative;
            }
    }


    nav li:nth-child(1) /*Mid Century Modern*/ {
        grid-column-start: 2;
        grid-row-start: 1;
    }

    nav li:nth-child(2) /*Garments*/ {
        grid-column-start: 3;
        grid-row-start: 1;
    }

    nav li:nth-of-type(3) /*Steel*/ {
        grid-column-start: 4;
        grid-row-start: 1;
    }

    nav li:nth-child(4) /*Apothecary*/ {
        grid-column-start: 5;
        grid-row-start: 1;
    }

    nav li:nth-of-type(5) /*screen filler*/ {
        grid-column-start: 2;
        grid-row-start: 2;
    }

    nav li:nth-child(6) /*Fountain Kiss*/ {
        grid-column-start: 3;
        grid-row-start: 2;
    }

    nav li:nth-of-type(7) /*A Robot Named Jimmy*/ {
        grid-column-start: 4;
        grid-row-start: 2;
    }

    nav li:nth-child(8) /*Verde Modern*/ {
        grid-column-start: 5;
        grid-row-start: 2;
    }

    .design-archives nav li {
        display: grid;
        grid-template-columns: repeat(6, 1fr);
        grid-template-rows: auto;
        position: relative;
    }

    .design-archives nav li:nth-child(1) /*next design*/ {
        grid-column-start: 3;
        grid-row-start: 1;
    }

    .design-archives nav li:nth-child(2) /*view all designs*/ {
        grid-column-start: 4;
        grid-row-start: 1;
        top: 0px;
    }

    .sidebar div li:nth-of-type(odd), .zen-resources li:nth-of-type(even), nav li:nth-of-type(even) {
        display: flex;
        position: relative;
        left: 0px;
        top: 0px;
        margin: 0px; 
    }

    .zen-resources ul {
        position: relative;
        display: grid;
        grid-template-columns: repeat(5, 1fr);
        grid-template-rows: 1fr 1fr;
        max-width: 100%;
    }

    .zen-resources li:nth-child(1) /*View This Design's CSS*/ {
        grid-column-start: 2;
        grid-row-start: 1;
    }

    .zen-resources li:nth-child(2) /*CSS Resources*/ {
        grid-column-start: 3;
        grid-row-start: 1;
    }

    .zen-resources li:nth-child(3) /*FAQ*/ {
        grid-column-start: 4;
        grid-row-start: 1;
    }

    .zen-resources li:nth-child(4) /*Submit a Design*/ {
        grid-column-start: 2;
        grid-row-start: 2;
    }
    
    .zen-resources li:nth-child(5) /*Translations*/ {
        grid-column-start: 3;
        grid-row-start: 2;
    }
   
/*End Initial Transition point for Sidebar*/

    
    .intro { 
    display: grid; 
    grid-template-columns: auto auto auto;
    grid-gap: 10px;
    padding: 10px;
    width: 90%;
    max-width: 1080px;
    margin: auto;
} 
    
    header {
        width: 100%;
        margin: auto;
    }
    
    .summary {
        grid-row: 2;
        grid-column: 1;
        width: 80%;
        margin: auto;
        border: none;
    }
    .preamble {
        margin: auto;
    }
    
    
    .explanation, .participation, .benefits, .requirements {
        width: 95%;
        margin: auto;
    }
    
    .explanation:before, .benefits:before {
      border-left: 44vw solid transparent;
      border-right: 44vw solid transparent;
    }

    .explanation:after, .benefits:after {
      border-left: 44vw solid transparent;
      border-right: 44vw solid transparent;
    }
  
    .participation:before, .requirements:before {
      border-left: 44vw solid transparent;
      border-right: 44vw solid transparent;
    }

    .participation:after, .requirements:after {
      border-left: 44vw solid transparent;
      border-right: 44vw solid transparent;
    }
    
    .explanation:hover, .participation:hover, .benefits:hover, .requirements:hover {
    background-color: $color-3;
    transform: scale(1.02);
}
    .explanation:hover::before, .benefits:hover::before {
    border-bottom: 15px solid $color-3;
}
    .explanation:hover::after, .benefits:hover::after {
    border-top: 15px solid $color-3;
}
    
    footer {
        width: 100%;
        margin: auto;
        margin-top: 20px;
        margin-bottom: 20px;
    }
    
}

/* small screen */

@media (max-width: 900px) {

    
    .intro {
        display: flex;
        flex-direction: column;
    }
        
    header {
        width: 90%;
        margin: auto;
        display: flex;
        flex-direction: column;
    }
    
    h1 {
        width: 100%;
        margin: auto;
        margin-left: 10px;
    }
    
    h2 {
        width: 100%;
        margin: auto;
        font-size: 30px;
    }
    
    .summary {
        width: 80%;
        margin: auto;
        margin-top: 30px;
    }
    
    .preamble {
        margin-top: 10px;
    }
    
    .sidebar {
        position: relative;
        width: 95%;
        margin: auto;
        top: 0;
    }
    
    .explanation, .participation, .benefits, .requirements {
        width: 95%;
        margin: auto;
    }
    
    .explanation:before, .benefits:before {
      border-left: 45vw solid transparent;
      border-right: 45vw solid transparent;
    }

    .explanation:after, .benefits:after {
      border-left: 45vw solid transparent;
      border-right: 45vw solid transparent;
    }
  
    .participation:before, .requirements:before {
      border-left: 45vw solid transparent;
      border-right: 45vw solid transparent;
    }

    .participation:after, .requirements:after {
      border-left: 45vw solid transparent;
      border-right: 45vw solid transparent;
    }
    
    footer {
        width: 100%;
        margin: auto;
        margin-top: 15px;
        margin-bottom: 15px;
    }

    

/*Sidebar small styling*/
.sidebar ul {
    display: grid;
    grid-template-columns: repeat(8, 1fr);
    grid-template-rows: auto;
    position: relative;
}

nav li:nth-child(1) /*Mid Century Modern*/ {
    grid-column-start: 4;
    grid-row-start: 1;
}

nav li:nth-child(2) /*Garments*/ {
    grid-column-start: 5;
    grid-row-start: 1;
}

nav li:nth-of-type(3) /*Steel*/ {
    grid-column-start: 4;
    grid-row-start: 2;
}

nav li:nth-child(4) /*Apothecary*/ {
    grid-column-start: 5;
    grid-row-start: 2;
}

nav li:nth-of-type(5) /*screen filler*/ {
    grid-column-start: 4;
    grid-row-start: 3;
}

nav li:nth-child(6) /*Fountain Kiss*/ {
    grid-column-start: 5;
    grid-row-start: 3;
}

nav li:nth-of-type(7) /*A Robot Named Jimmy*/ {
    grid-column-start: 4;
    grid-row-start: 4;
}

nav li:nth-child(8) /*Verde Modern*/ {
    grid-column-start: 5;
    grid-row-start: 4;
}

.design-archives nav li {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    grid-template-rows: auto;
    position: relative;
}

.design-archives nav li:nth-child(1) /*next design*/ {
    grid-column-start: 4;
    grid-row-start: 1;
}
.design-archives nav li:nth-child(2) /*view all designs*/ {
    grid-column-start: 5;
    grid-row-start: 1;
    top: 0px;
}

.sidebar div li:nth-of-type(odd), .zen-resources li:nth-of-type(even), nav li:nth-of-type(even) {
    display: flex;
    position: relative;
    left: 0px;
    top: 0px;
    margin: 0px; 
}

.zen-resources ul {
    position: relative;
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    grid-template-rows: 1fr 1fr;
    max-width: 100%;
}

.zen-resources li:nth-child(1) /*View This Design's CSS*/ {
    grid-column-start: 3;
    grid-row-start: 1;
}

.zen-resources li:nth-child(2) /*CSS Resources*/ {
    grid-column-start: 4;
    grid-row-start: 1;
}

.zen-resources li:nth-child(3) /*FAQ*/ {
    grid-column-start: 3;
    grid-row-start: 2;
}

.zen-resources li:nth-child(4) /*Submit a Design*/ {
    grid-column-start: 4;
    grid-row-start: 2;
}

.zen-resources li:nth-child(5) /*Translations*/ {
    grid-column-start: 3;
    grid-row-start: 3;
}
/*End Sidebar small styling*/


}