.sidebar {
    height: auto;
    width: 300px;
    position: absolute;
    top: 525px;
    left: 0;
    background-color: $color-4;
    overflow-x: hidden;
    padding: 10px;
    font-size: 14px;
    margin-left: 10px;
    display: flex;
    flex-direction: column;
}

.sidebar a {
    padding: 6px 6px 6px 32px;
    text-decoration: none;
    font-size: 14px;
    display: block;

}


