.zen-resources li:nth-of-type(odd), nav li:nth-of-type(odd) {
  position: relative;
  width: 0;
  height: 0;
  border-top: 4em solid transparent;
  border-right: 9em solid $color-1;
  border-bottom: 4em solid transparent;
  left: -30px;   
  margin-bottom: 40px;
}

.zen-resources li:nth-of-type(odd):after, nav li:nth-of-type(odd):after {
  position: absolute;
  content: '';
  width: 0;
  height: 0;
  border-top: 4em solid transparent;
  border-left: 5em solid $color-1;
  border-bottom: 4em solid transparent;
  left: 125px;
  top: -58px;
}

.zen-resources li:nth-of-type(even), nav li:nth-of-type(even) {
  position: relative;
  width: 0;
  height: 0;
  border-top: 4em solid transparent;
  border-right: 5em solid $color-3;
  border-bottom: 4em solid transparent;
  left: -30px;
  margin-bottom: 40px;
}

.zen-resources li:nth-of-type(even):after, nav li:nth-of-type(even):after {
  position: absolute;
  content: '';
  width: 0;
  height: 0;
  border-top: 4em solid transparent;
  border-left: 9em solid $color-3;
  border-bottom: 4em solid transparent;
  left: 68px;
  top: -56px;
}

/*.zen-resources li:nth-of-type(even), nav li:nth-of-type(even) {
  transform: rotate(180deg);
  left: 25px;
}*/