footer {
    position: relative;
    margin-top: 100px;
    height: 225px;
    width: 100%;
    display: flex;
    align-items: flex-start;
    justify-content: center;
    background-color: $color-2;
}

footer a {
  font-size: 15px;
  z-index: 1;
}

footer a:nth-child(odd) {
    width: 0;
    height: 0;
    right: 20px;
    border: 50px solid transparent;
    border-bottom: 20px solid #B2ccb1;
    position: relative;
    line-height: 70px;
    text-align: center;
    display: flex;
    justify-content: center;
}

footer a:nth-child(odd):after {
    content: '';
    position: absolute;
    left: -50px;
    top: 20px;
    width: 0;
    height: 0;
    border: 50px solid transparent;
    border-top: 70px solid #B2ccb1;
    z-index: -1;
}

footer a:nth-child(even) {
    width: 0;
    height: 0;
    border: 50px solid transparent;
    border-bottom: 70px solid #B2ccb1;
    position: relative;
    top: 50px;
    left: 20px;
    line-height: 90px;
    text-align: center;
    display: flex;
    justify-content: center;
}

footer a:nth-child(even):after {
    content: '';
    position: absolute;
    left: -50px;
    top: 70px;
    width: 0;
    height: 0;
    border: 50px solid transparent;
    border-top: 20px solid #B2ccb1;
    z-index: -1;
}

footer a:nth-child(1) {
  left: 60px;
}

footer a:nth-child(4) {
  left: -60px;
}

footer a:nth-child(5) {
  left: -100px;
}



/********animations**********/
@keyframes ltdbb {
  0% {border-bottom-color: #CeCdCe;}
  50% {border-bottom-color: #B2CCB1;}
  100% {border-bottom-color: #6D9172;}
  
}
@keyframes ltdbt {
  0% {border-top-color: #CeCdCe;}
  50% {border-top-color: #B2CCB1;}
  100% {border-top-color: #6D9172;}
}
@keyframes purpgraybb {
  from {border-bottom-color: #94849B;}
  to {border-bottom-color: #CeCdCe;}
}
@keyframes purpgraybt {
  from {border-top-color: #94849B;}
  to {border-top-color: #CeCdCe;}
}
@keyframes greenpurpbb {
  0% {border-bottom-color: #6D9172;}
  50% {border-bottom-color: #94849B;}
  100% {border-bottom-color: #94849B;}
}
@keyframes greenpurpbt {
    0% {border-top-color: #6D9172;}
  50% {border-top-color: #94849B;}
  100% {border-top-color: #94849B;}
}
@keyframes greengraybb {
  from {border-bottom-color: #CeCdCe;}
  to {border-bottom-color: #6D9172;}
}
@keyframes greengraybt {
  from {border-top-color: #CeCdCe;}
  to {border-top-color: #6D9172;}
}



footer a:nth-child(1) {
  animation: ltdbb 4s linear 0s infinite alternate;
}
footer a:nth-child(1):after {
  animation: ltdbt 4s linear 0s infinite alternate;
}

footer a:nth-child(2) {
  animation: purpgraybb 4s linear 1s infinite alternate;
}
footer a:nth-child(2):after {
  animation: purpgraybt 4s linear 1s infinite alternate;
}

footer a:nth-child(3) {
  animation: greenpurpbb 2.5s linear 1s infinite alternate;
}
footer a:nth-child(3):after {
  animation: greenpurpbt 2.5s linear 1s infinite alternate;
}

footer a:nth-child(4) {
  animation: greenpurpbb 2s linear 0s infinite alternate;
}
footer a:nth-child(4):after {
  animation: greenpurpbt 2s linear 0s infinite alternate;
}

footer a:nth-child(5) {
  animation: greengraybb 3s linear 0s infinite alternate;
}
footer a:nth-child(5):after {
  animation: greengraybt 3s linear 0s infinite alternate;
}
