.intro { 
    display: grid; 
    grid-template-columns: auto auto auto;
    grid-gap: 10px;
    padding: 10px;
    width: 65%;
    margin-left: 400px;
    margin-right: 10px;
} 

header {
    display: flex;
    justify-content: flex-end;
    padding: 5px;
    font-family: $primary-font;
    color: $color-5;
}

abbr {
    text-decoration: underline;
}

h1 {
    width: 100%;
    height: 80px;
    position: relative;
    background: $color-1;
    font-size: 30px;
    text-align: center;
    grid-column: 1;
    grid-row: 1;
    text-transform: uppercase;
    z-index: 1;
    right: 10px;
    letter-spacing: 2px;
    line-height: 75px;
}


@keyframes h1before {
  0% {border-left: 20px solid $color-1;}
  49% {border-left: 0px solid $color-1; right:0px;}
  50% {border-right: 0px solid white;}
  100% {
    position: absolute;
    right: 0;
    bottom: 0;
    width: 0;
    height: 0;
    border-right: 20px solid white;
    border-top: 40px solid transparent;
    border-bottom: 40px solid transparent;}
  
}

h1:before {
      content: "";
      position: absolute;
      right: -20px;
      bottom: 0;
      width: 0;
      height: 0;
      border-left: 20px solid $color-1;
      border-top: 40px solid transparent;
      border-bottom: 40px solid transparent;
      animation: h1before 4s linear 1s infinite alternate;
}

@keyframes h1after {
  0% {border-right: 20px solid $color-1;}
  49% {border-right: 0px solid $color-1; left:0px;}
  50% {border-left: 0px solid white;}
  100% {
    position: absolute;
    left: 0;
    bottom: 0;
    width: 0;
    height: 0;
    border-left: 20px solid white;
    border-top: 40px solid transparent;
    border-bottom: 40px solid transparent;
    }
}

h1:after {
      content: "";
      position: absolute;
      left: -20px;
      bottom: 0;
      width: 0;
      height: 0;
      border-right: 20px solid $color-1;
      border-top: 40px solid transparent;
      border-bottom: 40px solid transparent;
      animation: h1after 4s linear 1s infinite alternate;
    }

h2 {
    width: 100%;
    height: 80px;
    position: relative;
    background: $color-1;
    font-size: 20px;
    text-align: center;
    grid-column: 2;
    grid-row: 1;
    text-transform: uppercase;
    top: 8px;
    line-height: 80px;
}

@keyframes h2after {
  0% {border-right: 20px solid $color-1; z-index:1;}
  49% {border-right: 0px solid $color-1; left:0px;}
  50% {border-left: 0px solid white;}
  100% {
    position: absolute;
    left: 0;
    bottom: 0;
    width: 0;
    height: 0;
    border-left: 20px solid white;
    border-top: 40px solid transparent;
    border-bottom: 40px solid transparent;
    }
}

h2:after {
      content: "";
      position: absolute;
      left: -20px;
      bottom: 0;
      width: 0;
      height: 0;
      border-right: 20px solid $color-1;
      border-top: 40px solid transparent;
      border-bottom: 40px solid transparent;
      animation: h2after 4s linear 5s infinite alternate;
    }

@keyframes h2before {
  0% {border-left: 20px solid $color-1;}
  49% {border-left: 0px solid $color-1; right:0px;}
  50% {border-right: 0px solid white; z-index:1;}
  100% {
    position: absolute;
    right: 0;
    bottom: 0;
    width: 0;
    height: 0;
    border-right: 20px solid white;
    border-top: 40px solid transparent;
    border-bottom: 40px solid transparent;
    z-index:1;
    }
  
}

h2:before {
      content: "";
      position: absolute;
      right: -20px;
      bottom: 0;
      width: 0;
      height: 0;
      border-left: 20px solid $color-1;
      border-top: 40px solid transparent;
      border-bottom: 40px solid transparent;
      animation: h2before 4s linear 5s infinite alternate;
      z-index: -1;
    }


.summary {
    grid-column: 3;
    grid-row: 1 / span 4;
    padding: 20px;
    width: 200px;
    font-family: $secondary-font;
    text-align: left;    
    letter-spacing: 3px;
    word-spacing: 3px;
    margin-top: 15px;
    background-color: rgba(178, 204, 177, 0.5);
        a {
            color: $color-1;
            text-transform: uppercase;
            text-decoration: none;
            border: .5px solid $color-1;
            padding: 2px;
        }
        a:hover {
            color: $color-5;
        }
        a:visited {
            color: $color-4;
        }
}


.summary p:nth-child(2){
    text-align: center;
    letter-spacing: 2px;
    margin-top: 80px;
    font-size: 15px;
    text-align: justify;
}

.summary:hover {
    background-color: $color-3;
}

.preamble {
    grid-column: 1;
    grid-row: 3 / span 2;
    background-color: $color-2;
    color: $color-5;
    padding: 5px;
    padding-left: 10px;
    font-family: $secondary-font;
}


